
@model List<Doors.Models.UsersModel>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/MasterPage.cshtml";
}
 


<div class="container">
    <a href="/Users/AddEditViewUsers" class="btn btn-info btn-sm add-new-user-btn"><i class="fa fa-plus"></i> New User</a>
    <table id="UserGrid" class="table table-striped table-bordered dt-responsive nowrap table-sm" cellspacing="0">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Sex</th>
                <th>Role</th>
                <th>Personal Info</th>
                <th>Create by</th>
                <th>Manage</th>
            </tr>
        </thead>
    </table>
</div>


<script>
    var dataTable;
    $(document).ready(function () {
        dataTable = $("#UserGrid").DataTable({

            /* "processing": false, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "pageLength": 5,  */

            "ajax": {
                "url": "/Users/LoadUser",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                  { "data": "username", "name": "User Name", "autoWidth": true },
                  { "data": "fullname", "title": "Full Name", "name": "ContactName", "autoWidth": true },
                  { "data": "sex", "name": "ContactTitle", "autoWidth": true },
                  { "data": "role", "name": "City", "autoWidth": true },
                  { "data": "personal_info", "name": "PostalCode", "autoWidth": true },
                  { "data": "create_by", "name": "Country", "autoWidth": true },
                  { "data": "user_id", "render": function(data) {
                      return '<a class="btn btn-info btn-sm" href="/Users/ViewUsers/' + data + '"><i class="fa fa-book"></i> Detail</a><a class="btn btn-info btn-sm" style="margin-left:5px" href="/Users/EditUsers/' + data + '"><i class="fa fa-pencil"></i> Edit</a><a class="btn btn-info btn-sm" style="margin-left:5px; color: red;" onclick="DeleteUser(' + data + ')"><i class="fa fa-trash"></i> Delete</a>';
                    },
                      "orderable": false,
                      "searchable": false,
                      "width": "150px"
                  }
                  /*{
                      "render": function (data, type, full, meta)
                      { return '<a class="btn btn-info" href="/Demo/Edit/' + 1 + '">Edit</a>'; }
                  },
                   {
                       data: null, render: function (data, type, row) {
                           return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + 1 + "'); >Delete</a>";
                       }
                   },*/

            ],
            "language": {
                "emptyTable": "No Data Found."  
            },

        });
    });

    function DeleteUser(id) {
        if (confirm("Are you sure to delete this user")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","Users")/' + id,
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "Top Center",
                            className: "success"
                        });
                    }
                }
            });
        }
    }
</script>
 
