body div, button {
    font-size: 12px;
}
.header div, .footer {
    background-color: #8be1dc;
}
.profile_image, .logo {
    padding-top: 10px;
}
.profile_image  {
    text-align: center;
}
.logo {
    padding-left:90px;
}
.whole-page {
    position: relative;
}
.header .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size:12px !important;
}
.footer {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  /*  position: absolute;
    left: 0 ; right: 0; bottom: 0; */
    
}
.user_image {
    width: 50px;
    height: 50px;
}
.menu {
    text-align: right;
    padding-right: 10px;
}
.menu a {
    color: black;
}
.body {
    margin:5px 50px;
}
.page_title {
    font-size: 15px;
    text-decoration: double;
    text-align: center;
}
.btn_custom {
    background-color: #dee2e6;
    border: 1px solid gray;
    line-height: 20px;
}
.field-validation-error {
    color: #e88c4d;
}
 input.input-validation-error {
    border: 1px solid #e88c4d;
}

/* User Management */
.manage img {
    width:16px;
    margin-left: 5px;
}
.user_table {
    margin-top: 20px;
}
.add-new-user-btn {
    margin:0px 0px 10px 15px;
}
input:read-only { background: lightgray; }
/* Create User Page */
.create-user {
    width: 600px;
    margin: 0 auto;
}

/* Debit Note */
.debit-cover .debit-left {
    width: 50%;
}
.debit-cover .debit-right {
    width: 40%;
}
.debit-right, .debit-left {
    display:inline-block !important;
    vertical-align: top;
}