@model Doors.Models.Users
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/MasterPage.cshtml";
}

    @if (Model != null)
{

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>@Model.username</td>
                    <td>@Model.fullname</td>
                </tr>
            </tbody>
        </table>
    </div>
}

