@model List<Doors.Models.Debit_Note>
@{
    ViewBag.Title = "Debit Note List";
    Layout = "~/Views/MasterPage.cshtml";
}

<h2>Debit Management</h2>
<div class="container">
    <a href="/DebitNote/Create" class="btn btn-info btn-sm add-new-user-btn"><i class="fa fa-plus"></i> New Debit Note</a>
    <table id="DebitGrid" class="table table-striped table-bordered dt-responsive nowrap table-sm" cellspacing="0">
        <thead>
            <tr>
                <th>Custom Name</th>
                <th>Bill to</th>
                <th>Invoice No</th>
                <th>Container No</th>
                <th>B/L by</th>
                <th>Creator</th>
                <th>Create on</th>
                <th>Manage</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    var dataTable;
    $(document).ready(function () {
        dataTable = $("#DebitGrid").DataTable({

            "ajax": {
                "url": "/DebitNote/LoadDebitNote",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                  { "data": "customer_name", "title": "Customer Name", "name": "ContactName", "autoWidth": true },
                  { "data": "billing_to", "name": "Billing to", "autoWidth": true },
                  { "data": "debit_id", "name": "Invoice No", "autoWidth": true },
                  { "data": "container_number", "name": "Container No", "autoWidth": true },
                  { "data": "bl", "name": "B/L", "autoWidth": true },
                  { "data": "create_by", "name": "Creator", "autoWidth": true },
                  { "data": "create_on", "name": "Create on", "autoWidth": true },
                  { "data": "id", "render": function(data) {
                      return '<a class="btn btn-info btn-sm" href="/DebitNote/ViewDebitNote/' + data + '"><i class="fa fa-book"></i> Detail</a><a class="btn btn-info btn-sm" style="margin-left:5px" href="/DebitNote/EditDebitNote/' + data + '"><i class="fa fa-pencil"></i> Edit</a><a class="btn btn-info btn-sm" style="margin-left:5px; color: red;" onclick="DeleteUser(' + data + ')"><i class="fa fa-trash"></i> Delete</a>';
                    },
                      "orderable": false,
                      "searchable": false,
                      "width": "150px"
                  }

            ],
            "language": {
                "emptyTable": "No Data Found."
            },

        });
    });

    function DeleteUser(id) {
        if (confirm("Are you sure to delete this user")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","Users")/' + id,
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "Top Center",
                            className: "success"
                        });
                    }
                }
            });
        }
    }
</script>

